* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    background-color: rgb(255, 236, 236);
}
header {
    background-color: rosybrown;
}
nav::after {
    content: '';
    clear: both;
    display: table;
}
nav .logo {
    float: left;
    color: black;
    padding-left: 30px;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}
nav .logo a {
    text-decoration: none;
    color: black;
}
nav ul {
    float: right;
    margin-right: 40px;
    position: relative;
}
nav ul li {
    float: left;
    display: block;
    margin: 0px 5px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover {
    border-radius: 10px;
    background-color: rgb(158, 116, 116);
}
nav ul ul {
    background-color: rgb(158, 116, 116);
    position: absolute;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: top .1s;
    justify-content: center;
}
nav ul li:hover > ul {
    top: 70px;
    background-color: rgb(158, 116, 116);
    opacity: 1;
    visibility: visible;
}
nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
}
nav ul ul li a {
    line-height: 50px;
}
nav ul ul li a:hover {
    background-color: rgb(175, 132, 132);
}
.show, .icon, input {
    display: none;
}
/* fim do cabeçalho */
.banner {
    margin: 10%;
    display: flex;
    width: 80%;
}
.banner .welcome {
    width: 90%;
}
.banner h1 {
    font-size: 50px;
}
.banner p {
    margin: 10px 10px 10px 0px;
    font-size: 20px;
}
.banner img {
    width: auto;
    height: auto;
    border-radius: 50%;

}
/* fim do "banner" */
.first-line {
    display: grid;
    grid-template-areas: "item item item item";
    margin: auto;
    margin-bottom: 16px;
    max-width: 80%;
}
.mais-itens .first-line {
    display: grid;
    grid-template-areas: "item item item item";
    margin: 0 10%;
    margin-bottom: 16px;
    max-width: 100%;  
}
.produtos .item {
    display: flex;
    flex-direction: column;
    align-items: justify;
    background-color: whitesmoke;
    max-width: 400px;
    min-width: 25%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -10px #262622;
    grid-area: "item";
    font-size: 100%;
}
.produtos .image {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}
.produtos h3 {
    margin: 10px;
}
.produtos p {
    margin: 5px;
}
.produtos .image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;

}
.produtos .item a {
    text-decoration: none;
    width: 75%;
    align-self: center;
    text-align: center;
    border-radius:16px;
    padding: 15px;
    margin: 16px;
    background-color: #333333;
    color: #eee;
}
.produtos .item a:hover {
    background-color: #444444;
}
.produtos .ver-mais {
    display: block;
    width: 15%;
    min-width: 100px;
    text-align: center;
    border-radius:24px;
    padding: 15px;
    margin: auto;
    margin-bottom: 24px;
    background-color: #fff;
    color: #111;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 10px 10px 10px -10px #262622;
}
.produtos .ver-mais:hover {
    background-color: #222;
    color: #fff;
}
.mais-itens {
    display: none;
    max-width: 100%;
    grid-template-areas:
    "categoria"
    "categoria";
}
.produtos .titulo-categoria {
    text-align: center;
    margin-top: 30px;
    border-bottom: #282b2d solid;
}
.produtos .mais-itens .titulo-categoria {
    display: block;
    text-align: center;
    margin-top: 30px;
    border-bottom: #282b2d solid;
}
.toggle-show {
    display: block;
}
/* fim dos cards de itens */
.container-contatos {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contatos {
    display: flex;
    padding: 32px;
}
.contatos .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    margin-left: 32px;
}
.contatos .card:first-child {
    margin-left: 0px;
}
.card span {
    font-size: 8rem;
}
.contatos .card img {
    width: 100%;
}
.contatos .card h3 {
    margin: 16px 0px;
}
.contatos .card p {
    margin-bottom: 16px;
    text-align: center;
    max-width: 460px;
}
.contatos .card a {
    width: 50%;
    padding: 8px 12px;
    border-radius: 32px;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    color: black;
}
.contatos .card a {
    text-decoration: none;
    color: black;
}
.contatos .wpp a{
    background: linear-gradient(to right, #25D366, #DCF8C6);
}
.contatos .wpp a:hover{
    background: linear-gradient(to left, #25D366, #DCF8C6);
}
.contatos .insta a{
    background: linear-gradient(to right, #c13584, #f56040);
}
.contatos .insta a:hover{
    background: linear-gradient(to left, #c13584, #f56040);
}
.contatos .wpp {
    box-shadow: 20px 20px 30px -30px #25D366;
}
.contatos .insta {
    box-shadow: 20px 20px 30px -30px #e1306c;
}
/* inicio do rodape */
footer {
    background-color: #262622;
    padding: 70px 0;
    height: auto;
}
.footer-container {
    max-width: 1170px;
    margin: auto;
}
ul {
    list-style: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col {
    width: 33%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    max-width: 90px;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}
.footer-col ul li a:hover {
    color: #fff;
    padding-left: 6px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.4);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #282b2d;
    transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}
/* fim do rodape */

@media(max-width:1080px) {
    .banner p {
        font-size: 19px;
    }
    .banner img {
        width: auto;
        height: 150px;
    }
    .produtos .first-line{
        max-width: 100%;
    }
    .produtos .ver-mais {
        width: 20%;
    }
    .mais-itens .first-line {
        margin: auto;
    }                                                                           
    .produtos .image {
        max-height: 220px;
    }

}
@media(max-width: 767px) {
    nav ul {
        margin-left: 0;
        margin-right: 0px;
        float: left;
        width: 100%;
    }
    nav .logo {
        padding-left: 0px;
        width: 100%;
    }
    nav ul li, nav ul ul li {
        margin: 0;
        display: block;
        width: 100%;
        background-color: rgb(158, 116, 116);
    }
    nav ul ul {
        background-color: rgb(141, 101, 101);
        top: 70px;
        position: static;
        float: none;
        opacity: 1;
        visibility: visible;
    }
    .show {
        display: block;
        color: black;
        font-size: 18px;
        padding: 0 15px;
        line-height: 70px;
        cursor: pointer;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    .icon {
        display: block;
        color: black;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    .show + a, nav ul {
        display: none;
    }
    [id^=btn]:checked + ul {
        display: block;
    }
    /* fim do cabeçalho mobile */

    .banner {
        margin: 5%;
        width: 90%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner h1 {
        font-size: 45px;
    }
    .banner p {
        font-size: 17px;
    }
    .banner img {
      display: none;
    }
    /* fim do banner mobile */
    .first-line {
        grid-template-areas: "item item";
        max-width: 95%;
        font-size: 100%;
    }
    .mais-itens {
        grid-template-areas: "categoria";
    }
    .mais-itens .first-line {
        grid-template-areas: "item item";
        max-width: 100%;
        font-size: 100%;
        margin: 0;
    }
    .produtos .image {
        max-height: 400px;
    }
    .produtos .ver-mais {
        width: 30%;
    }
    .contatos {
        flex-direction: column;
    }
    .contatos .card {
        margin-left: 0px;
        margin-bottom: 32px;
    }
    .contatos .card:last-child {
        margin-bottom: 0px;
    }
    .card span {
        font-size: 100px;
    }
    /* inicio do rodape mobile */
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 350px) {
    .first-line, .mais-itens {
        grid-template-areas: "item";
        max-width: 95%;
    }
    .mais-itens .first-line {
        grid-template-areas: "item";
        max-width: 100%;
        font-size: 100%;
        margin: 0;
    }
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
    nav .logo {
        max-width: 75%;
    }
    .produtos .ver-mais {
        width: 35%;
    }
}